---
layout: default
blogfeed: true
---
{% capture readtime %}{{ page.content | number_of_words | plus:91 | divided_by:180.0 | append:'.' | split:'.' | first }}{% endcapture %}

<ul>
  {% assign tags = site.tags | sort 0 %}
  {% for tag_item in tags %}
  {% assign tag = (tag_item | first) %}
  <li>
    <a href="{{site.url}}{{site.baseurl}}/tags/{{tag}}">{{site.data.tags[tag].name}}</a> ({{site.tags[tag].size}})
  </li>
  {% endfor %}
</ul>
<h1 class="post-title">{{ page.title }}</h1>
<p class="post-meta">
	 <!-- Whitespace added for readability -->
	{% assign m = page.date | date: "%-m" %}
	{{ page.date | date: "%-d" }}
	{% case m %}
	  {% when '1' %}Janvier
	  {% when '2' %}Février
	  {% when '3' %}Mars
	  {% when '4' %}Avril
	  {% when '5' %}Mai
	  {% when '6' %}Juin
	  {% when '7' %}Juillet
	  {% when '8' %}Août
	  {% when '9' %}Septembre
	  {% when '10' %}Octobre
	  {% when '11' %}Novembre
	  {% when '12' %}Décembre
	{% endcase %}
	{{ page.date | date: "%Y"}}  &bull;
	{% if readtime == '0' %} &lt; 1{% else %}{{ readtime }}{% endif %} min. lecture &bull;
	<a href="#disqus_thread" data-disqus-identifier="{{ page.path | split:'/' | last | cgi_escape }}">Commentaires</a>
</p>

{% if page.image %}
	<div class="post-banner" style="background-image: url(/img/post-banners/{{ page.image }});">
		<img src="/img/post-banners/{{ page.image }}" alt="{{ page.title }}" />
	</div>
{% else %}
	<div class="post-banner no-image">
		<img src="/img/post-banners/no-image.gif" alt="{{ page.title }}" />
	</div>
{% endif %}

{{ content }}

<hr />

{% if post.comments != false %}
<div id="disqus_thread"></div>
{% endif %}
